<script>
	import { page } from '$app/stores';
	import '../app.css';
</script>

<body>
	<div class="base">
		<a href="/login">login</a>
		<a href="/">Home</a>
		<a href="/api/db">Как это работает?</a>
		<a href="/todo">ToDo</a>
		<a href="/register">Регистрация</a>
		<a href="/newtodo">Alice</a>
	</div>
	<div>
		<slot />
	</div>
</body>

<style>
    /* *{
		background-color: rgba(172, 248, 185, 0.945);
	} */

	body {
		background-color: rgba(172, 248, 185, 0.945);
	}
	html {
		height: 100vh;
	}
</style>
