<script>
	let number;
	/** Array.<number> */
	let arr = [];
	let a = 0;
	async function getData() {
		let resp = await fetch('/roll');
		let nmb = await resp.json();
		console.log('getData');
		number = nmb;
		let arr = [];
		arr.push(number);
		// return arr;
	}
	// let promise = getData();
	import { page } from '$app/stores';
	export let data;
</script>

<div>
	<hr />
	{JSON.stringify($page)}
	<hr />
</div>
<div style="padding:50px">
	<pre>
		{JSON.stringify($page, null, 2)}
	  </pre>

	<button class="button is-info" on:click={getData()}>GetData - {number ? arr.length : '?'}</button>
	{arr.length}
	{#each arr as item}
		{item}
	{/each}
</div>
<div>
	{arr.length}
</div>
