<script>
	import { enhance } from '$app/forms';
	import { page } from '$app/stores';

	let fileInput;
	let pict;

	/**  @type {import('./$types').PageData} */
	export let data;
	$: ({ todo } = data);

	function getBase64(todo) {
		const reader = new FileReader();
		reader.readAsDataURL(todo);
		reader.onload = (e) => {
			pict = e.target.result;
		};
		
	}

	//будет работать лишь при отсутствии CORS-запрета
	// const getimg = async () => {
	// 	const data = await fetch('https://en.wikipedia.org/wiki/File:4mayrehearsal_17.jpg');
	// 	const blob = await data.blob();
	// 	const reader = new FileReader();
	// 	reader.readAsDataURL(blob);
	// 	reader.onload = () => {
	// 		const base64data = reader.result;
	// 		console.log('64', base64data);
	// 		return base64data;
	// 	};
	// };
</script>

<div class="h-auto my-3 p-4 bg-orange-300 text-lg flex flex-col">
	<a href="https://base64.guru/converter/decode/image">Всё о base64</a>
	<a href="https://www.programonaut.com/how-to-create-a-sveltekit-image-upload-step-by-step/"
		>Хорошая статья</a
	>
</div>

<div class="card m-auto w-96 bg-base-100 shadow-xl modal-box1">
	<div class="card-body">
		<form enctype="multipart/form-data" method="POST" action="?/add_image" use:enhance>
			<p class="py-2">Выберите картинку и введите текст:</p>

			<input class="w-full" type="text" name="txt" />

			<input
				bind:this={fileInput}
				on:change={() => getBase64(fileInput.files[0])}
				class="hidden"
				name="file"
				type="file"
				accept=".png,.jpg"
			/>
			<div>
				<button type="button" class="btn btn-primary mt-4" on:click={() => fileInput.click()}
					>Выбрать картинку</button
				>
			</div>
			<div class="mt-2">
				<input
					name="offile"
					type="file"
					class="file-input file-input-bordered file-input-primary w-full max-w-xs"
					accept=".pdf,.docx"
				/>
			</div>

			<input type="hidden" bind:value={pict} name="b64" />

			{#if pict}
				<div class="mt-4">
					<img class="w-16" src={pict} alt="picture" />
				</div>
				<p>{fileInput.files[0].name}</p>
			{/if}

			<div style="display: flex; justify-content: end;" class="mt-8">
				<button class="btn btn-info" type="submit">Сохранить</button>
			</div>
		</form>
	</div>
</div>

{#if todo}
	<div>
		{#if $page.form?.error}
			{$page.form.error}
		{/if}
	</div>
	<div class="grid col-auto row-auto mt-3">
		{#each todo as img}
			<div class="border-b-2 border-indigo-300 md:col-start-1 md:col-end-3" />
			<div class="p-1 col-start-1 col-end-2">
				<img src={img.image} alt="picture" />
			</div>
			<div class="p-1 text-lg font-medium col-start-1 col-end-2 md:col-start-2 md:col-end-3">
				{img.value}
			</div>
			<div class="p-1 text-lg font-medium col-start-1 col-end-2 md:col-start-2 md:col-end-3">
				{img.docName}
			</div>
		{/each}
	</div>
{/if}
