<script>
    import PdfViewer from "svelte-pdf";
    
    import { onMount } from 'svelte';

    import { supabase } from "$lib/supabaseClient";

    const data = {url:''};

    onMount(async () => {
        const urlParams = new URLSearchParams(window.location.search);
        const encodedData = urlParams.get('todoid');
        
        let d = await supabase.from('todo').select('document').eq('id', encodedData);
        if (d.data) data.url = d.data[0].document;
        
    });

</script>

{#if data.url}
    <PdfViewer url={data.url}/>
{:else}
    <div>Чёт не то с данными дружок</div>
{/if}