<script>
	import { insertDB_show } from '$lib/store.js';
	import { enhance } from '$app/forms';

	/**
	 * @typedef {object} ToDo
	 * @property {number} id
	 * @property {string} value
	 */
	/** @type {ToDo} */
	export let insobj;

    let fileInput;
	let pict;

	const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};

    function getBase64(todo) {
		const reader = new FileReader();
		reader.readAsDataURL(todo);
		reader.onload = (e) => {
			pict = e.target.result;
		};
		
	}

    function save() {

    }
</script>

<div class="modal {$insertDB_show ? 'modal-open' : ''}">
	<div class="modal-box">
		{#if insobj}
			<form method="POST" action="?/add_image" use:enhance>
                <p class="py-2">Выберите картинку и введите текст:</p>
                <input
							style="margin: 1%; background-color: rgb(153, 102, 153) ;"
							name="date"
							type="date"
							
						/>
                <input class="w-full" type="text" name="txt" />
                <input
                    bind:this={fileInput}
                    on:change={() => getBase64(fileInput.files[0])}
                    class="hidden"
                    name="file"
                    type="file"
                    accept=".png,.jpg"
                />
                <div>
                    <button type="button" class="btn btn-primary mt-4" on:click={() => fileInput.click()}
                        >Выбрать картинку</button
                    >
                </div>
                <div class="mt-2">
                    <input
                        name="offile"
                        type="file"
                        class="file-input file-input-bordered file-input-primary w-full max-w-xs"
                        accept=".pdf,.docx"
                    />
                </div>
			    <input type="hidden" bind:value={pict} name="b64" />
                {#if pict}
                    <div class="mt-4">
                        <img class="w-16" src={pict} alt="picture" />
                    </div>
                    <p>{fileInput.files[0].name}</p>
                {/if}
				<div style="display: flex; justify-content: end;" class="mt-8">
					<button
						class="btn btn-info mr-4"
						on:click={(e) => {
							e.preventDefault();
							$insertDB_show = false;
						}}>Закрыть</button
					>
					<button
						class="btn btn-info"
						type="submit"
						on:click={() => {
							$insertDB_show = false;
						}}>Сохранить</button
					>
				</div>
               
			</form>
		{/if}
	</div>
</div>
