<script>
	import { enhance } from '$app/forms';

	import { Alert } from 'flowbite-svelte';
	
	export let data;
	/** @type {{ result: any; error: any; description: any; date: any; }}*/
	export let form;

	let todostyle = '';
	/** @param {string | number | Date} date*/
	function Formatdate(date) {
		let newdate = new Date(date);
		return newdate.getDate() + '.' + (newdate.getMonth() + 1) + '.' + newdate.getFullYear();
	}
	/** @param {string | number | Date} date */
	function Changeformat(date) {
		let newdate = new Date(date).valueOf();

		if (newdate <= Date.now()) {
			return true;
		} else {
			return false;
		}
	}
	let admin;
	$: if (data.admin == false) {
		admin = 'flexbox';
	} else {
		admin = 'flex';
	}

	let res = form?.result;
	$: if (res == true) {
		setTimeout(() => (res = false), 1000);
	}
	async function GetTodo(id) {
		let response = await fetch('todoget?id=' + id);
		let datadsa = await response.json();
		data.todos = datadsa.data;
	}

	let fileInput;
	let pict;

	let fileInput2;
	let doc = 'asd';

	function getBase64(image) {
		const reader = new FileReader();
		reader.readAsDataURL(image);
		reader.onload = (e) => {
			pict = e.target.result;
		};
	}

	function getBase642(image) {
		fileInput2.click();
		const reader = new FileReader();
		reader.readAsDataURL(image);
		reader.onload = (e) => {
			doc = e.target.result;
		};
	}

	let docv = false;
	let curdocv = '';
</script>

<div class="grid justify-items-end md:justify-items-start">
	<div class="osnova" style="display: {admin}; ">
		{#if data.admin == false}
			<div class="bg-base-100 shadow-xl m-auto font-black">
				{#if form?.error}
					<p class="error">{form.error}</p>
				{/if}
				{#if res == true}
					<Alert border color="green">
						<span slot="icon"
							><svg
								aria-hidden="true"
								class="w-5 h-5"
								fill="currentColor"
								viewBox="0 0 20 20"
								xmlns="http://www.w3.org/2000/svg"
								><path
									fill-rule="evenodd"
									d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
									clip-rule="evenodd"
								/></svg
							>
						</span>
						<span class="font-medium">Успешно!</span>
					</Alert>
				{/if}
				<form class="bg-pink-500" method="POST" action="?/createbase" use:enhance>
					<label class="bg-emerald-200">
						Текст:
						<input
							style="margin: 1%;  background-color: rgb(153, 102, 153) ;"
							class="input input-bordered"
							name="description"
							value={form?.description ?? ''}
							required
						/>
						<br />
						<input
							style="margin: 1%; background-color: rgb(153, 102, 153) ;"
							name="date"
							type="date"
							value={form?.date ?? ''}
							required
						/>
					</label>
					<br />
					<!-- 00000000000 -->
					<div class="puk">
						<input
							bind:this={fileInput}
							on:change={() => getBase64(fileInput.files[0])}
							class="hidden"
							name="file"
							type="file"
							accept=".png,.jpg"
						/>
						<div>
							<button 
								type="button" 
								class="btn btn-primary mt-4" 
								on:click={() => fileInput.click()}
							>Выбрать картинку</button>
						</div>
						<div class="mt-2">
							<input
								name="offile"
								bind:this={fileInput2}
								on:change={() => getBase642(fileInput2.files[0])}
								type='file'
								class="file-input file-input-bordered file-input-primary w-full max-w-xs"
								accept=".pdf,.docx"
							/>
						</div>
	
						<input type="hidden" bind:value={pict} name="b64" />
						<input type="hidden" bind:value={doc} name="b642" />
					</div>

					{#if pict}
						<div class="mt-4">
							<img class="w-16" src={pict} alt="picture" />
						</div>
						<p>{fileInput.files[0].name}</p>
					{/if}
					<!-- 99999999999 -->
					<button 
						style="margin: 1%;" 
						class="btn" 
						type="submit"
					>Отправить</button>
				</form>
			</div>
		{:else}
			<div class="flex justify-start md:justify-between">
				<div class="navbar-start">
					<div class="dropdown">
						<label tabindex="0" class="btn btn-ghost btn-circle display:flex justify-normal">
							Выбрать пользователя
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-5 w-5"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								><path
									stroke-linecap="round"
									stroke-linejoin="round"
									stroke-width="2"
									d="M4 6h16M4 12h16M4 18h7"
								/></svg
							>
						</label>
						<ul
							tabindex="0"
							class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52"
						>
							<div class="h-full px-3 py-4 overflow-y-auto dark:bg-gray-950">
								{#each data.users as user (user.id)}
									<li class="content-center border border-yellow-400 bg-indigo-300 md:">
										<button
											class="content-center btn btn-outline font-weight text-red-800"
											on:click={() => GetTodo(user.id)}>{user.username}</button
										>
									</li>
								{/each}
							</div>
						</ul>
					</div>
				</div>
			</div>
		{/if}

		<div class=" mx-60" style="display: flexbox;">

			

			{#each data.todos as todo (todo.id) }
				<ul
					class="card shadow-xl bg-neutral text-neutral-content m-auto w-10/12"
					style="margin-top: 1%; content-center "
				>
					<form method="POST" id="FormDelete" action="?/deletebase">
						<li class="todo" style="color: antiquewhite;">
							<div
								class={Changeformat(todo.date) ? 'element' : ''}
								style="font-size: large; display: flex; word-break: break-all; color"
							>
								<input type="hidden" name="id" value={todo.id} />

								<div
									style="margin-left: 1% ; margin-right: auto;  margin-top: auto; margin-bottom: auto; word-break: normal;"
								>
									{Formatdate(todo.date)}
								</div>

								<div class="w-full" style="width: 80%;">{todo.value}</div>
								{#if todo.image}
									<div class="w-full" style="width: 80%;"><img src={todo.image} alt="pic"></div>
								{/if}
								{#if todo.document}
									<div class="w-full" style="width: 80%;"><a href={`../pdf?todoid=${encodeURIComponent(todo.id)}`}>{todo.docName}</a></div>
								{/if}
								<div
									class="tooltip"
									data-tip="Удалить"
									style="margin-left: auto ; margin-right: 1%; margin-top: auto; margin-bottom: auto; justify-content: center;"
								>
									<button type="submit"
										><svg
											fill="#000000"
											width="30px"
											height="30px"
											viewBox="0 0 24 24"
											id="check-mark-circle"
											data-name="Line Color"
											xmlns="http://www.w3.org/2000/svg"
											class="icon line-color"
											><polyline
												id="secondary"
												points="8 11.5 11 14.5 16 9.5"
												style="fill: none; stroke: rgb(44, 169, 188); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"
											/><rect
												id="primary"
												x="3"
												y="3"
												width="18"
												height="18"
												rx="9"
												style="fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"
											/></svg
										></button
									>
								</div>
							</div>
						</li>
					</form>
				</ul>
			{/each}
		</div>
	</div>
</div>

<style>
	form {
		text-align: center;
		color: rgb(5, 5, 5);
		font-size: medium;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	p {
		text-align: center;
		color: rgb(182, 104, 182);
		font-size: large;
	}
	.element {
		color: rgb(252, 0, 0);
		display: flex;
		align-items: center;
	}
	.puk {
		display: flex;
		flex-direction: column;
    	flex-wrap: nowrap;
		align-items: flex-start;
	}
</style>
