<script>
	import { enhance } from '$app/forms';
	import { page } from '$app/stores';
  import { dellDB_show } from '$lib/store.js';
  import Del from '$lib/modaltodo/delete.svelte';
  import { form_show } from '$lib/store.js';

  import Insert from '$lib/modaltodo/insert.svelte';
  import { insertDB_show } from '$lib/store.js';
	let fileInput;
	let pict;

	/**  @type {import('./$types').PageData} */
	 export let data;
	$: ({ todo } = data);

	function getBase64(todo) {
		const reader = new FileReader();
		reader.readAsDataURL(todo);
		reader.onload = (e) => {
			pict = e.target.result;
		};
		
	}
/**  @type {import('./$types').ActionData} */
export let form;


const showdell = (obj) => {
  selected_id = { ...obj };
  
  $dellDB_show = true;
};

const showinsert = (obj) => {
  selected_id = { ...obj };

  $insertDB_show = true;
}
/**{Object.<string, number>} */

let selected_id = {};

	
</script>
<Del delobj = {selected_id} />
<Insert insobj = {selected_id} />

<div class="m-auto w-96 bg-base-100 shadow-xl modal-box1">
	<div class="card-body">
		<form enctype="multipart/form-data" method="POST" action="?/add_image" use:enhance>
			<!-- <p class="py-2">Выберите картинку и введите текст:</p>

			<input class="w-full" type="text" name="txt" />
			<input
				bind:this={fileInput}
				on:change={() => getBase64(fileInput.files[0])}
				class="hidden"
				name="file"
				type="file"
				accept=".png,.jpg"
			/>
			<div>
				<button type="button" class="btn btn-primary mt-4" on:click={() => fileInput.click()}
					>Выбрать картинку</button
				>
			</div>
       -->
			<!-- <div class="mt-2">
				<input
					name="offile"
					type="file"
					class="file-input file-input-bordered file-input-primary w-full max-w-xs"
					accept=".pdf,.docx"
				/>
			</div>

			<input type="hidden" bind:value={pict} name="b64" /> -->
      <div>
				<button type="button" class="btn btn-primary mt-4" on:click={() => showinsert({id: 'lahjksdf', value: ''})}
					>Кнопка добавить</button
				>
			</div>
			<!-- {#if pict}
				<div class="mt-4">
					<img class="w-16" src={pict} alt="picture" />
				</div>
				<p>{fileInput.files[0].name}</p>
			{/if} -->

			<!-- <div style="display: flex; justify-content: end;" class="mt-8">
				<button class="btn btn-info" type="submit">Сохранить</button>
			</div> -->
		</form>
	</div>
</div>
{#if todo}
	<div>
		{#if $page.form?.error}
			{$page.form.error}
		{/if}
	</div>
    
<div class="row">
    {#each todo as img}
    <div class="example-1 card">
      <div class="wrapper">
        
        <div class="date">
          {#if +(new Date (img.date)) > Date.now()}
          <span class="day">{new Date (img.date).getDate() }</span>
          <span class="month">{new Date (img.date).getMonth() + 1}</span>
          <span class="year">{new Date (img.date).getFullYear()}</span>
          {:else}
          <span class="day" style="color: red">{new Date (img.date).getDate() }</span>
          <span class="month" style="color: red">{new Date (img.date).getMonth() + 1}</span>
          <span class="year" style="color: red">{new Date (img.date).getFullYear()}</span>
          {/if}
        </div>
           
           <div class="image object-fill h-48 w-96">
               <img class="book-image "  src={img.image} alt="picture" />
            
           </div>
        
        <div class="data">
          <div class="content">
            <span class="author" on:keyup={null} on:click={() => showdell(img)}>Удалить</span>
            <h1 class="title">
              <a href="#" class="cardTitle">
                {img.value}
              </a>
            </h1>
            <p class="text">{img.docName}</p>
          </div>
        </div>
        
      </div>
    </div>
    {/each}
  </div>
  {/if}
  
  <style>@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
    * {
      box-sizing: border-box;
      /* border: thick double #da5e5e; */
    }
    
    body {
      background-image: linear-gradient(to right, #034378, #2d4e68);
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      height: 100vh;
      font-family: "Open Sans", sans-serif;
    }
    
    .cardTitle {
      text-decoration: none;
    }
    
    .title {
      font-family: "Open Sans", sans-serif;
      font-weight: 300;
      overflow-y: auto;
      overflow-x: auto;
      height: 170px;
    }
    
    .row {
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: column;
      overflow-y: auto;
      height: 600px;
    }
    .row > * {
      max-width: 750px;
    }
    
    .card {
      float: left;
      padding: 0 1.7rem;
      width: 80%;
      margin-bottom: 15px;
      height: 250px;
    }
    .card .menu-content {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }
    .card .menu-content::before, .card .menu-content::after {
      content: "";
      display: table;
    }
    .card .menu-content::after {
      clear: both;
    }
    .card .menu-content li {
      display: inline-block;
    }
    .card .menu-content a {
      color: #7e1275cb;
    }
    .card .menu-content span {
      position: absolute;
      left: 50%;
      top: 0;
      font-size: 10px;
      font-weight: 700;
      font-family: "Open Sans";
      transform: translate(-50%, 0);
    }
    .card .wrapper {
      background-color: #92e6a0fd;
      position: relative;
      overflow: hidden;
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
      height: 100%;
    }
    .card .data {
      float: right;
      width: 60%;
      height: 100%;
    }
    .card .data .content {
      padding: 1em;
      position: relative;
      z-index: 1;
    }
    .content {
      height: 100%;
    }
    .card .author {
      font-size: 12px;
    }
    .card .title {
      margin-top: 10px;
    }
    .card .text {
      height: 70px;
      margin: 0;
    }
    .card input[type=checkbox] {
      display: none;
    }
    .card input[type=checkbox]:checked + .menu-content {
      transform: translateY(-60px);
    }
    
    .example-1 .date {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #4dada538;
      color: #071309;
      padding: 0.8em;
    }
    .example-1 .date span {
      display: block;
      text-align: center;
    }
    .example-1 .date .day {
      font-weight: 700;
      font-size: 24px;
      text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
    }
    .example-1 .date .month {
      text-transform: uppercase;
    }
    .example-1 .date .month,
    .example-1 .date .year {
      font-size: 12px;
    }
    .example-1 .content {
      background-color: #e69f66;
      box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
    }
    .example-1 .title a {
        font-size: 20px;
        font-weight: bold;
        text-transform: capitalize;
      color: rgba(77, 7, 65, 0.815);
    }
    
    .image {
      float: left;
      width: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    
    .book-image {
      width: 100%;
      display: block;
      margin-top: auto;
      margin-bottom: auto;
      padding: 20px;
    }
    </style>