<script>
	import { enhance } from '$app/forms';
	import { form_show } from '$lib/store.js';
	import {insert_show  } from '$lib/store.js';
	
	import Update from '$lib/comp/modal.svelte';

	import Ins from '$lib/comp/insert.svelte';
	import Del from '$lib/comp/delete.svelte';
	import { page } from '$app/stores';
	import { dell_show } from '$lib/store.js';
	//let { countries } = data;
	$: ({ countries } = data);

	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;

	const showUpdate = (obj) => {
		selected_country = { ...obj };
		$form_show = true;
		
	};
	const showdell = (obj) => {
		selected_id = { ...obj };
		
		$dell_show = true;
	};

	const showins = () => {
		
		
		$insert_show = true;
	};
	/**{Object.<string, number>} */
	let selected_country = {};
	let selected_id = {};
	let ins_id ={};
</script>

<Update currobj={selected_country} />
<Del delobj = {selected_id} />


<Ins insobj = {ins_id}/>


{#if countries}
	<div>
		{#if $page.form?.error}
			{$page.form.error}
		{/if}
	</div>
	<div class="overflow-x-auto mt-0 z-0">
		
		<button on:keyup={null} on:click={() =>  showins(countries)}>
			Добавить
		</button> 
		<table class="table table-zebra w-full">
			<thead>
				<tr>
					<th>Поле удаление</th>
					<th>id</th>
					<th>Страна</th>
				</tr>
			</thead>
			<tbody>
				
				{#each countries as country}
				
				
				<tr>
						
						<td class="cursor-pointer" on:keyup={null} on:click={() => showdell(country)}> Удалить</td>
						<th>{country.id}</th>
						<td class="cursor-pointer" on:keyup={null} on:click={() => showUpdate(country)}>
							{country.name} 
						</td>
					</tr>
				{/each}
			</tbody>
		</table>
	</div>
{/if}

