<script>
	import { dell_show} from '$lib/store.js';
	import { enhance } from '$app/forms';

	/**
	 * @typedef {object} Country
	 * @property {number} id
	 * @property {string} name
	 */
	/** @type {Country} */
	export let delobj;

	const onKeyPress = (event) => {
		if (event.code == 'Enter') {
			event.preventDefault();
		}
	};
</script>

<div class="modal {$dell_show ? 'modal-open' : ''}">
	<div class="modal-box">
		{#if delobj}
			<form method="POST" action="?/del_country" use:enhance>
				<p class="py-2">Точно Удалить? : {delobj.name}</p>

				<input value={delobj.id} type="hidden" name="id" />

				<div style="display: flex; justify-content: end;" class="mt-8">
					<button
						class="btn btn-info mr-4"
						on:click={(e) => {
							e.preventDefault();
							$dell_show= false;
						}}>Закрыть</button
					>
					<button
						class="btn btn-info"
						type="submit"
						on:click={() => {
							$dell_show = false;
						}}>Удалить</button
					>
				</div>
			</form>
		{/if}
	</div>
</div>
