<script>
	/**  @type {import('./$types').ActionData} */
	export let form;

	/**  @type {import('./$types').PageData} */
	export let data;
</script>

<div class="card w-96 bg-cyan-400 text-primary-content mb-10 mt-5 m-auto">
	<div class="card-body">
		<h2 class="card-title">Вход</h2>
		<div>
			{#if form?.is_user == false}
				Пользователь не найден
			{/if}
			{#if form?.bad_pwd}
				Пароль не прошел проверку
			{/if}
		</div>

		<form action="?/login" method="POST">
			<div class="form-control w-full max-w-xs">
				<label class="label" for="username">
					<span class="label-text">Логин:</span>
				</label>
				<input
					id="username"
					name="username"
					type="text"
					required
					class="input input-bordered w-full max-w-xs"
				/>
			</div>

			<div class="form-control w-full max-w-xs">
				<label class="label" for="password">
					<span class="label-text">Пароль:</span>
				</label>
				<input id="password" name="password" type="password" required />
			</div>

			<div class="card-actions justify-end mt-5">
				<a class="btn" href="/">Отмена</a>
				<button class="btn">Выполнить</button>
			</div>
		</form>
	</div>
</div>
